{% extends "base.html" %}

{% block title %}
Prediction Page
{% endblock %}

{% block content %}

<style>
    /* Custom styles */
    .page-header {
        background: #f8f9fa;
        padding: 20px 0;
        margin-bottom: 20px;
    }
    .value-section, .details-section, .insights-section {
        margin-bottom: 20px;
    }
    .estimated-value-title {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 0.5rem;
    }
    .estimated-value {
        font-size: 1.5rem;
        color: #555;
    }
</style>

<div id="navbar-placeholder">{% include 'nav.html' %}</div>

<div id="navbar-placeholder"></div>

<div class="container">

    <!-- Estimated Value Section -->
    <div class="row value-section">
        <div class="col-md-12 text-left">
            <h2>Estimated Valuation</h2>
        </div>
        <div class="col-md-4 text-center">
            <h2 class="estimated-value-title">Estimated Market Price</h2>
            <p class="estimated-value">$888,888</p>
        </div>
        <div class="col-md-4 text-center">
            <h2 class="estimated-value-title">Estimated Gain or Loss</h2>
            <p class="estimated-value">$444,444</p>
        </div>
    </div>

    <!-- Property Details Section -->
    <div class="details-section">
        <p><strong>Town:</strong> {{ unit_display.town }}</p>
        <p><strong>Postal Code:</strong> {{ unit_display.postal_code }}</p>
        <p><strong>Address:</strong> {{ unit_display.address }}</p>
        <p><strong>Resale Price:</strong> {{ unit_display.resale_price }}</p>
        <p><strong>Flat Type:</strong> {{ unit_display.flat_type }}</p>
        <p><strong>Storey Range:</strong> {{ unit_display.storey_range }}</p>
        <p><strong>Year:</strong> {{ unit_display.year }}</p>
        <p><strong>Key:</strong> {{ unit_display['key'] }}</p>
        
        <button id="addBookMarkBtn" class="btn btn-primary">Add Bookmark</button>
    </div>



    <!-- Insights Section -->
    <div class="insights-section">
        <h2>Insights</h2>
        <select class="custom-select mb-3">
            <option selected>Filter Option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
        <!-- Placeholder for table/graph -->
        <div>
            <p>Insert Table / Graph</p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.getElementById("addBookMarkBtn").addEventListener("click", function() 
    {
        var unitKey = "{{ unit_display['key'] }}";
        var url = "/addBookmark/" + unitKey;

        fetch(url, 
        {
            method: "POST"
        
        })
        .then(response => response.json())
        .then(data =>{
            alert(data.message);
        })
        .catch(error => {
            console.error("Error:", error);
        });
    });
</script>
{% endblock %}
