{% extends "base.html" %}

{% block title %}
Prediction Page
{% endblock %}

{% block styles %}
<style>
    #liveSearchContainer {
        margin-top: 20px;
        max-height: 200px;
        max-width: 500px; 
        overflow-y: auto;  
        border: 1px solid #ccc; 
        padding: 10px; 
    }

    #liveSearchContainer ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #liveSearchContainer li {
        margin-bottom: 5px;
    }

    #liveSearchContainer a {
        text-decoration: none;
        color: #333;
    }

    #liveSearchContainer a:hover {
        text-decoration: underline;
    }

    /* SECOND FORM */

    #liveSearchStoreyRangeContainer {
        margin-top: 20px;
        max-height: 200px;
        max-width: 500px; 
        overflow-y: auto;  
        border: 1px solid #ccc; 
        padding: 10px; 
    }

    #liveSearchStoreyRangeContainer ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #liveSearchStoreyRangeContainer li {
        margin-bottom: 5px;
    }

    #liveSearchStoreyRangeContainer a {
        text-decoration: none;
        color: #333;
    }

    #liveSearchStoreyRangeContainer a:hover {
        text-decoration: underline;
    }
</style> 
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!--start of the form-->
            <form id = "searchForm">
                <h2 class="mb-4 text-center">Property Valuation</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Addres/ postal_code" id="filter" name="filter"><br><br>
                    <div id="liveSearchContainer"></div>
                </div>
                
            </form>
        
            <!-- SECOND FORM -->
        <div id="secondFormContainer" style="display: none">
            <form id="secondForm">
                <div class = "form-group">
                    <label for="postalCode">Postal Code:</label>
                    <input type="text" class="form-control" id="postalCode" name="postalCode" readonly>
                    <select class="form-control" id="storeyRange" name="storeyRange">
                    </select>
                </div>
            </form>
        </div>

        <!--THIRD FORM-->
        <div id="thirdFormContainer" style="display: none">
            <form id="thirdForm">
                <div class = "form-group"> 
                    <select class="form-control" id="flatType" name="flatType">
                    </select>
                </div>
            </form>
        </div>
        <button id="fetchUnitButton" class="btn btn-primary">Search</button>

        </div>
    </div>

    <div class="container">
        <h1 class="text-center">Use Your Own Values!</h1>
        <form  method="POST">
            <div class="form-group">
                <label for="storey_range">Storey Range:</label>
                <select class="form-control" id="storey_range" name="storey_range" required>
                    <option value="01 TO 03">01 TO 03</option>
                    <option value="04 TO 06">04 TO 06</option>
                    <option value="07 TO 09">07 TO 09</option>
                    <option value="10 TO 12">10 TO 12</option>
                    <option value="13 TO 15">13 TO 15</option>
                    <option value="16 TO 18">16 TO 18</option>
                    <option value="19 TO 21">19 TO 21</option>
                    <option value="22 TO 24">22 TO 24</option>
                    <option value="25 TO 27">25 TO 27</option>
                    <option value="28 TO 30">28 TO 30</option>
                    <option value="31 TO 33">31 TO 33</option>
                    <option value="34 TO 36">34 TO 36</option>
                    <option value="37 TO 39">37 TO 39</option>
                    <option value="40 TO 42">40 TO 42</option>
                    <option value="43 TO 45">43 TO 45</option>
                    <option value="46 TO 48">46 TO 48</option>
                    <option value="49 TO 51">49 TO 51</option>
                </select>
            </div>
            <div class="form-group">
                <label for="flat_model">Flat Model:</label>
                <select class="form-control" id="flat_model" name="flat_model" required>
                    <option value="Model A">Model A</option>
                    <option value="Improved">Improved</option>
                    <option value="Premium Apartment">Premium Apartment</option>
                    <option value="Standard">Standard</option>
                    <option value="New Generation">New Generation</option>
                    <option value="Maisonette">Maisonette</option>
                    <option value="Apartment">Apartment</option>
                    <option value="Simplified">Simplified</option>
                    <option value="Model A2">Model A2</option>
                    <option value="DBSS">DBSS</option>
                    <option value="Terrace">Terrace</option>
                    <option value="Adjoined flat">Adjoined flat</option>
                    <option value="Multi Generation">Multi Generation</option>
                    <option value="2-room">2-room</option>
                    <option value="Executive Maisonette">Executive Maisonette</option>
                    <option value="Type S1S2">Type S1S2</option>
                </select>
            </div>
            <div class="form-group">
                <label for="flat_type">Flat Type:</label>
                <select class="form-control" id="flat_type" name="flat_type" required>
                    <option value="2 ROOM">2 ROOM</option>
                    <option value="3 ROOM">3 ROOM</option>
                    <option value="4 ROOM">4 ROOM</option>
                    <option value="5 ROOM">5 ROOM</option>
                    <option value="EXECUTIVE">EXECUTIVE</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    console.log('test');

    $(document).ready(function() 
    {
        $('#filter').on('input', function()
        {
            var query = $(this).val();
            console.log('Query:', query)
            $.ajax(
            {
                url: '/searchByPostal',
                method: 'GET',
                data: { query: query },
                success: function(response) 
                {
                    displaySearchPostalResults(response);
                    console.log('Response:', response);
                },
                error: function(error) 
                {
                    console.error('Error:', error);
                }
            });
        });

        function displaySearchPostalResults(results) 
        {
            var container = $('#liveSearchContainer');
            container.empty();  

            if (results.length > 0) 
            {
                var list = $('<ul></ul>');
                results.forEach(function(item) 
                {
                    var listItem = $('<li></li>')
                    var link = $('<a></a>').text(item.town + ', ' + item.postal_code + ', ' + item.address);
                    //var link = $('<a></a>').attr('href', '/predictResult/' + item.postal_code).text(item.town + ', ' + item.postal_code + ', ' + item.address);
                    
                    link.click(function()
                    {
                        var postalCode = item.postal_code;
                        console.log('Stored Postal:', postalCode);

                        $('#postalCode').val(postalCode);
                        $('#secondFormContainer').show();
                        $('#thirdFormContainer').show();
                        fetchStoreyRange(postalCode);
                    });
                    //console.log("List Item: ",listItem)
                    //console.log("Link URL: ", link.attr('href')); // Log the URL of the anchor tag
                    console.log("item: ",item.postal_code)
                    // console.log("item: ",item.resale_price)
                    //console.log("results: ", results)
                    listItem.append(link);
                    list.append(listItem);
                });
                container.append(list);
            }
        }
        
    });

    //SECOND FORM
    function fetchStoreyRange(postalCode)
        {
            $.ajax(
            {
                url: '/searchByStorey',
                method: 'GET',
                data: { query: postalCode },
                success: function(response) 
                {
                    displayStoreyRanges(response);
                    console.log('Response:', response);
                },
                error: function(error) 
                {
                    console.error('Error fetching storey ranges:', error);
                }
            });                      
        }

    function displayStoreyRanges(storeyRanges)
    {
        var select = $('#storeyRange')
        select.empty();

        storeyRanges.forEach(function(storeyRange)
        {
            var option = $('<option></option>').text(storeyRange);
            select.append(option);
        });

        $(document).ready(function()
        {
            $('#storeyRange').on('change', function()
            {
                var postalCode = $('#postalCode').val();
                var storeyRange = $(this).val();
                console.log('Storey Range:', storeyRange);
                fetchType(postalCode);
            });
        });
    }

    // THIRD FORM
    function fetchType(postalCode)
    {
        $(document).ready(function()
        {
            $('#storeyRange').on('change', function()
            {
                var postalCode = $('#postalCode').val();
                var storeyRange = $(this).val();
                console.log('Storey Range for third form:', storeyRange);
                $.ajax(
                {
                    url: '/searchByType',
                    method: 'GET',
                    data: {query: postalCode, storeyRange: storeyRange},
                    success: function(response) 
                    {
                        displayTypes(response);
                    },
                    error: function(error) 
                    {
                        console.error('Error fetching types:', error);
                    }
                });
            });
        });             
    }
    
    function displayTypes(flatTypes)
    {
        var select = $('#flatType')
        select.empty();

        flatTypes.forEach(function(flatType)
        {
            var option = $('<option></option>').text(flatType);
            select.append(option);
        });
    }

    $(document).ready(function() 
    {
    // Event listener for the button click
        $('#fetchUnitButton').on('click', function(event) {
            console.log('Button clicked');
            event.preventDefault();
            // Get the values of postalCode, storeyRange, and flatType
            var postalCode = $('#postalCode').val();
            var storeyRange = $('#storeyRange').val();
            var flatType = $('#flatType').val();

            // Redirect to searchResult page immediately after button click
            window.location.href = '/searchResult?postalCode=' + postalCode + '&storeyRange=' + storeyRange + '&flatType=' + flatType;
        });
    });


    
    
</script>
{% endblock %}
